.login-wrap {
  width: 300px;
  margin: 10% auto;
}

.login-header {
  width: 100%;
  height: 50px;
  background: url('../images/crewmate-logo.gif') no-repeat;
}

.login input {
  width: 100%;
  height: 23px;
  padding: 0 10px;
}

.login button {
  margin: 15px;
  padding: 10px;
  background: rgb(39, 149, 182);
  color: #fff;
  border: none;
  cursor: pointer;
}

/* kanban */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;

}

#navbar {
  width: 50px;
  height: 700px;
  background: rgba(0,0,0,0.9);
  position: absolute;
  top: 0;
  left: 0;
}

header {
  background: white;
  margin-left: 40px;
  top: 0;
  position: fixed;
  width: 100%;
  padding-left: 2%;
  border-bottom: solid 1px #A9A9A9;
  color: #A9A9A9;
}

header h4 {
  font-size: 16px;
}

section {
  margin-left: 40px;
}

section h2 {
  font-weight: inherit;
}

.task-box {
  background-color: #F5F5F5;
  width: 20%;
  -webkit-flex: auto;
  flex: auto;
  height: 600px;
  float: left;
  border-right: solid 6px #C0C0C0;
  color: #454545;
}

.task-box h4 {
  text-align: center;
  text-transform: capitalize;
}

.board {
  margin-top: 5%;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.task-placeholder {
  width: 240px;
  height: 40px;
  float: left;
  margin: 5px;
  padding: 20px 5px;
  list-style: none;
  text-align: center;
  border-radius: 8px;
}

 .task-box-content  {
  width: 240px;
  height: 100px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 3px;
}

.task {
  width: 240px;
  height: 85px;
  padding-top: 15px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  border-radius: 3px;
  cursor: move;
  margin: 5px;
}

.backlog {
  background-color: #CFCFC4;
}

.todo {
  background-color: #FDFD96;
}

.doing {
  background-color: #FFB347;
}

.done {
  background-color: #77DD77;
}


.task-placeholder {
  background: rgba(0,0,0,0.4);
}

.over {
  border: 2px dashed #A9A9A9;
}
